/* TimeLine.module.css */
.TimeLine{
  background-color: #5f5e5e;
  margin: 10px;
  padding: 10px;
  height: 500px;
  overflow-y: scroll;
  margin: 0px;
}

.TimeLine h1{
  color: #fff;
  text-align: center;
}

.TimeLine h1:hover{
  color: #91cad8;
  text-align: center;
}

.TimeLine span {
  color: #06ad3e;
  text-align: center;
}

.cdTimeline {
    overflow: hidden;
    padding: var(--space-lg) 0;
  }
  
  .cdTimelineContainer {
    position: relative;
    padding: var(--space-md) 0;
  }
  
  .cdTimelineContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--cd-color-2);
  }
  
  .cdTimelineBlock {
    display: flex;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .cdTimelineBlock:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
  
  .cdTimelineImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .cdTimelineImg img {
    max-width: 200px;
  }
  
  
  @media (min-width: 768px) {
    .cdTimelineImg {
      order: 1;
    }
  }
  
  .cdTimelineContent {
    flex-grow: 1;
    background: hsl(0, 0%, 8%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: 20px;
  }
  
  @media (min-width: 768px) {
    .cdTimelineContent {
      width: 45%;
      flex-grow: 0;
    }
  }
  
  .cdTimelineContent::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgb(179, 17, 17) transparent transparent;
  }
  
  .cdTimelineDate {
    color: var(--cd-color-1);
  }
  
  .textComponent {
    color: #f5f3f3;
  }
  
  .btn--subtle {
    color: var(--cd-color-3);
    text-decoration: none;
  }
  
  .btn--subtle:hover {
    text-decoration: underline;
  }
  