.Skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5f5e5e;
}

.Lists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #5f5e5e;
}

.List ul {
    list-style-type: none; /* Remove list bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.List li:hover {
   color: #0a8f4d;
}

.List {
    text-align: center;
    list-style-type: none;
    color: #000;
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.List:hover {
    color: #f8f6f6;
 }