.MyProfile {
  
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure the h1 can be absolutely positioned relative to the card */
}

.MyProfile h1 {
    margin: 20px;
    color: #fff;
    text-align: center;
}

.MyProfile span {
    margin: 20px;
    color: #159646;
    text-align: center;
}

.MyProfile button {
    margin: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.MyProfile p {
    margin: 20px;
    color: #fff;
    text-align: center;
}

.MyProfile hr {
    width: 80%;
    color: #fff;
    text-align: center;
}